<app-header></app-header>
<p class="play-p" [ngClass]="{ hide: !playButton }">
  Are you bummed that the NCAA tournament is cancelled!? Because we are... So,
  to get your March Madness fix, see if you can answer these questions to become
  ballers like us! Catch the ball to start the game!
</p>
<div class="play">
  <button
    [ngClass]="{ hide: !playButton }"
    class="playButton"
    (click)="showForm()"
  ></button>
</div>
<div [ngClass]="{ show: userInput }" class="background hide"></div>
<div *ngIf="show" class="form-container">
  <form class="form" #quizForm="ngForm" (ngSubmit)="submitQuiz(quizForm)">
    <div [ngClass]="{ show: userInput }" class="hide userbio">
      <label class="input" for="username">Name</label>
      <input type="text" id="username" name="username" ngModel required />
      <label class="input" for="city">City</label>
      <input type="text" id="city" name="city" ngModel required />
      <label class="input" for="state">State</label>
      <select id="state" name="state" ngModel required>
        <option value="">Select your State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
      <span (click)="hideUserInput()">Let's Go</span>
    </div>
    <p class="timer">The name here or their team logo here</p>
    <h2 class="timer">00:{{ seconds }}</h2>
    <div *ngFor="let question of questions; index as i" class="question-group">
      <p class="questions">{{ question.question }}</p>
      <div class="choice">
        <input
          type="radio"
          name="{{ i }}"
          id="{{ question.id }}"
          value="{{ questions.choice_1 }}"
          ngModel
        />
        <label for="{{ question.id }}">{{ question.choice_1 }}</label>
      </div>
      <div class="choice">
        <input
          type="radio"
          name="{{ i }}"
          id="{{ question.id }}"
          value="{{ question.choice_2 }}"
          ngModel
        />
        <label for="{{ question.id }}">{{ question.choice_2 }}</label>
      </div>
      <div class="choice">
        <input
          type="radio"
          name="{{ i }}"
          id="{{ question.id }}"
          value="{{ question.choice_3 }}"
          ngModel
        />
        <label for="{{ question.id }}">{{ question.choice_3 }}</label>
      </div>
      <div class="choice">
        <input
          type="radio"
          name="{{ i }}"
          id="{{ question.id }}"
          value="{{ question.choice_4 }}"
          ngModel
        />
        <label for="{{ question.id }}">{{ question.choice_4 }}</label>
      </div>
    </div>
    <button>Submit Quiz</button>
  </form>
</div>
