@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 200px, 0);
  }
  20% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, 180px, 0);
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 130px, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  70% {
    transform: translate3d(0, 90px, 0);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
  90% {
    transform: translate3d(0, 40px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top: 0;
  left: 0;
}
.userbio {
  display: flex;
  /* justify-content: center; */
  width: 50%;
  height: 300px;
  background-color: white;
  z-index: 2;
  position: relative;
  padding: 10px;
}
.userbio-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* .form-container {
  display: flex;
  justify-content: center;
} */
/* div.hide.userbio.show {
  display: flex;
  justify-content: center;
} */

.hide {
  display: none;
}

.show {
  display: block;
}

.play {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
  z-index: -2;
  animation: bounce 5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}

.play-p {
  color: white;
}
.container {
  display: flex;
  justify-content: center;
}

.playButton {
  padding: 50px;
  border-radius: 50px;
  background-image: url("../../assets/black-basketball.jpg");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
}
.go-button {
  display: flex;
  justify-content: center;
  /* width: 50px; */
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}

.questions {
  color: white;
}

.introBox {
  border: 3px solid lightblue;
  width: 50%;
  height: 50%;
}

.timer {
  color: red;
  border: 3px red solid;
  width: 10%;
  padding: 5px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.teams {
  width: 100%;
  flex-direction: row;
  margin: 5px;
  overflow-x: auto;

  white-space: nowrap;
}
.teams div {
  display: inline-block;
}
div.spartan {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://s3media.247sports.com/Uploads/Assets/976/472/4472976.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}

div.uofm {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://i.ya-webdesign.com/images/michigan-m-png-8.png") no-repeat
    center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.unc {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://cdn.bleacherreport.net/images/team_logos/328x328/unc_basketball.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.uconn {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://patch.com/img/cdn/users/162709/2013/03/raw/df968cc7a662a486858f40f237e89ba2.jpg")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.wmu {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://wmich.edu/sites/default/files/attachments/u5/2018/W-gold-brown.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.nd {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://upload.wikimedia.org/wikipedia/en/thumb/9/91/Notre_Dame_Leprechaun_logo.svg/1200px-Notre_Dame_Leprechaun_logo.svg.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.fsu {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://i.ya-webdesign.com/images/florida-state-university-logo-png-7.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.cmu {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://pngimage.net/wp-content/uploads/2018/05/cmu-png-1.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.gonz {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://pngimage.net/wp-content/uploads/2018/05/bulldogs-logo-png-4.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.kans {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://pngimage.net/wp-content/uploads/2018/06/kansas-logo-png-8.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.dayt {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Dayton_Flyers_logo.svg/1200px-Dayton_Flyers_logo.svg.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.sds {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://pngimage.net/wp-content/uploads/2018/06/san-diego-state-logo-png-1.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.emu {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://www.emich.edu/communications/images/logos-official/stacked-justified-green.png?v=2020-02-03T14:39:37Z")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.duke {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://pngimage.net/wp-content/uploads/2018/05/duke-university-logo-png-4.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}
div.lville {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://upload.wikimedia.org/wikipedia/en/thumb/5/59/Louisville_Cardinals_logo.svg/1200px-Louisville_Cardinals_logo.svg.png")
    no-repeat center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}

div.wayne {
  width: 100px;
  height: 100px;
  background: transparent
    url("https://mac.wayne.edu/images/solidgreenwarriorw-300.png") no-repeat
    center center;
  background-size: contain;
  border: none;
  border: 1px solid white;
  margin: 5px;
}

.spartan {
  background-color: green;
}

.uofm {
  background-color: blue;
  color: yellow;
}
.unc {
  background-color: lightblue;
}
.uconn {
  background-color: navy;
  color: gray;
}
.bc {
  background-color: #501315;
  color: gold;
}
.nd {
  background-color: navy;
  color: gold;
}
.fsu {
  background-color: maroon;
  color: gold;
}
.cmu {
  background-color: maroon;
  color: gold;
}
.gonz {
  background-color: blue;
  color: orange;
}
.kans {
  background-color: navy;
  color: red;
}
.dayt {
  background-color: #9bddff;
  color: red;
}
.sds {
  background-color: #ff2400;
  color: black;
}
.emu {
  background-color: green;
  color: whitesmoke;
}
.duke {
  background-color: #00009c;
  color: whitesmoke;
}
.lville {
  background-color: black;
  color: #c41e3a;
}
.wayne {
  background-color: green;
  color: gold;
}
.wmu {
  background-color: brown;
  color: gold;
}
