p {
  color: white;
}
.gifs {
  display: flex;
  justify-content: center;
  border: none;
}
h3 {
  display: flex;
  align-self: center;
  color: blue;
  margin: 5px;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid lightblue;
  margin: 5px;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}
.gifs {
  /* display: flex; */
  object-fit: contain;
  height: 400px;
  width: 400px;
}
.hiscores {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid lightblue;
}
.googlemap {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: none;
  font-size: 18px;
}
.map {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40px;
  border-radius: 40px;
  height: 40px;
  background-color: orange;
  color: black;
}

span {
  color: blue;
}

.scoreBox {
  width: 500px;
  align-items: center;
  padding: 10px;
}

.hiscores {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
