<app-header></app-header>
<div class="gif-template">
  <div class="results-container">
    <div class="lastplayer-score">
      <div class="results">
        <h3 class="result-title">Results!</h3>
        <p>Name: {{ lastPlayer?.username }}</p>
        <p>City: {{ lastPlayer?.city }}</p>
        <p>State: {{ lastPlayer?.state }}</p>
        <p>Your Score:{{ lastPlayer?.score }}</p>
      </div>
      <button class="answer-button" (click)="showAnswers()">
        See your answers!
      </button>
      <div class="answers-container" *ngIf="show">
        <div
          class="box"
          *ngFor="let question of questionsAndAnswers.questions; index as i"
        >
          <p class="answer-paragraph">
            Correct Answer: {{ question?.answer }} <br />
            Your Answer:
            {{ questionsAndAnswers.answers[i] }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gifs">
    <div class="high gif-title" *ngIf="showHigh">
      <iframe
        src="https://giphy.com/embed/3o7abIileRivlGr8Nq"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/goheels-unc-tar-heels-tarheels-3o7abIileRivlGr8Nq"
        ></a>
      </p>
      <div>
        <p class="gif-caption">
          BALLER ALERT! Great job, you are clearly a master of your craft!
        </p>
      </div>
    </div>
    <div class="average gif-title" *ngIf="showAverage">
      <iframe
        src="https://giphy.com/embed/3o7WIwpBjAPFQR2gpO"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/basketball-sport-3o7WIwpBjAPFQR2gpO"
        ></a>
      </p>
      <p class="gif-caption">
        Great job! You're definitely on the right track, keep your eye on the
        ball!
      </p>
    </div>
    <div class="low gif-title" *ngIf="showLow">
      <iframe
        src="https://giphy.com/embed/t5qY8FyyM85a0"
        frameBorder="0"
        class="giphy-embed"
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/golden-state-warriors-t5qY8FyyM85a0"
        ></a>
      </p>
      <div class="paragraph">
        <p class="gif-caption">Bro, do you even ball?</p>
      </div>
    </div>
  </div>
</div>
<ul class="hiscores">
  <h3 class="hi-title">Hi-Scores</h3>
  <li *ngFor="let score of scores">
    <div class="scoreBox">
      <p class="scoreInfo">
        <span>Player: </span>{{ score?.username }} <span>City:</span
        >{{ score?.city }} <span>State: </span> {{ score?.state }}
        <span>Score: </span> {{ score?.score }}
      </p>
    </div>
  </li>
</ul>
<section class="googlemap">
  <p>See the location of other ballers!</p>
  <button class="map" routerLink="/googlemap">See Map</button>
</section>
