<app-header></app-header>
<div>
  <h3>Results!</h3>
  <p>Name: {{ lastPlayer?.username }}</p>
  <p>City: {{ lastPlayer?.city }}</p>
  <p>State: {{ lastPlayer?.state }}</p>
  <p>Your Score: {{ lastPlayer?.score }}</p>
</div>
<div class="gifs">
  <iframe
    src="https://giphy.com/embed/3o7abIileRivlGr8Nq"
    width="480"
    height="271"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
  <p>
    <a
      href="https://giphy.com/gifs/goheels-unc-tar-heels-tarheels-3o7abIileRivlGr8Nq"
      >via GIPHY</a
    >
  </p>
  <iframe
    src="https://giphy.com/embed/3o7WIwpBjAPFQR2gpO"
    width="480"
    height="335"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
  <p class="webbergif">
    <a href="https://giphy.com/gifs/basketball-sport-3o7WIwpBjAPFQR2gpO"
      >via GIPHY</a
    >
  </p>
  <iframe
    src="https://giphy.com/embed/3ohs4e6EnBqHUjxzDq"
    width="480"
    height="368"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe>
  <p>
    <a href="https://giphy.com/gifs/basketball-sport-3ohs4e6EnBqHUjxzDq"
      >via GIPHY</a
    >
  </p>
</div>
<ol>
  <h3>Past Competitors</h3>
  <li *ngFor="let score of scores">
    <p>
      Player: {{ score?.username }} City: {{ score?.city }} State:
      {{ score?.state }} Score: {{ score?.score }}
    </p>
  </li>
</ol>
<section>
  <p>See where your competitors are playing from</p>
  <button routerLink="/googlemap">Click Me!</button>
</section>
