<app-header></app-header>
<div>
  <h3>Results!</h3>
  <p>Name: {{ lastPlayer?.username }}</p>
  <p>City: {{ lastPlayer?.city }}</p>
  <p>State: {{ lastPlayer?.state }}</p>
  <p>Your Score: {{ lastPlayer?.score }}</p>
</div>
<ol>
  <h3>Past Competitors</h3>
  <li *ngFor="let score of scores">
    <p>
      Player: {{ score?.username }} City: {{ score?.city }} State:
      {{ score?.state }} Score: {{ score?.score }}
    </p>
  </li>
</ol>
<section>
  <p>See where your competitors are playing from</p>
  <button routerLink="/googlemap">Click Me!</button>
</section>
