<app-header></app-header>
<main>
  <div>
    <h3 class="smelrose">Melissa</h3>
  </div>
  <div>
    <h3 class="ronz">Roniya</h3>
    <p>
      From a recent public health undergraduate to an eager software developer,
      I have experience in Front-End Development. I always look for challenges
      to refine my skills in software development, coming up with creative
      solutions and innovative applications. As a reliable team player, I have a
      strong foundation in communication skills to adhere to client’s need and
      promote business growth. With a passion to enrich and promote efficiency
      to peoples' lives, I am looking forward to opportunities that gives me a
      platform to innovate responsive websites, mobile apps, and internal
      frameworks.
    </p>
  </div>
  <div>
    <h3 class="gmoney">Grant</h3>
    <p>
      Front-End Software Developer with a background in Psychology & Sales.
      Problem solver in and out of the office. I'm purposely passionate about
      the projects I choose to involve myself with, so that my presentations are
      logical and maximize benefit. Planning on becoming a Full-Stack developer
      in the next five years if not sooner :)
    </p>
  </div>
</main>
