<app-header></app-header>
<main>
  <section>
    <div class="container01">
      <aside class="baller01"></aside>
    </div>
    <div>
      <h3 class="smelrose">Melissa</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        expedita vel quibusdam id tempore sint quam exercitationem hic enim cum.
        Ex aliquam ad vitae quam obcaecati iure omnis nostrum vel.
      </p>
    </div>
  </section>
  <section>
    <div class="container01">
      <aside class="baller02"></aside>
    </div>
    <div>
      <h3 class="ronz">Roniya</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        expedita vel quibusdam id tempore sint quam exercitationem hic enim cum.
        Ex aliquam ad vitae quam obcaecati iure omnis nostrum vel.
      </p>
    </div>
  </section>
  <section>
    <div class="container01">
      <aside class="baller03"></aside>
    </div>
    <div>
      <h3 class="gmoney">Grant</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        expedita vel quibusdam id tempore sint quam exercitationem hic enim cum.
        Ex aliquam ad vitae quam obcaecati iure omnis nostrum vel.
      </p>
    </div>
  </section>
</main>

<!-- Front-End Software Developer with a background in Psychology & Sales.
Problem solver in and out of the office. I'm purposely passionate about
the projects I choose to involve myself with, so that my presentations
are logical and maximize benefit. Planning on becoming a Full-Stack
developer in the next five years if not sooner :) -->
