<app-header></app-header>
<main>
  <section>
    <div class="container01">
      <aside class="baller01"></aside>
    </div>
    <div class="background">
      <h3 class="smelrose">
        Melissa Rice <br /><span>Front-End Developer</span>
      </h3>
      <p>
        A Michigan State alum *Go Green* with a wealth of experience in numerous
        industries trying to break into the tech world. I'm not one to shy away
        from new challenges, so I'm constantly learning new skills. I'm
        currently seeking a job opportunity where I can continue to grow as a
        software developer in a supportive but challenging environment.
      </p>
      <h4>
        <span class="button">Phone Number</span> 313-969-8255<br /><br />
        <span class="button">LinkedIn</span>
        linkedin.com/in/melissa-rice-b61668a0/<br /><br /><span class="button"
          >GitHub</span
        >github.com/mmrice22
      </h4>
    </div>
  </section>
  <section>
    <div class="container01">
      <aside class="baller02"></aside>
    </div>
    <div class="background">
      <h3 class="ronz">Roniya Rojan <br /><span>Front-End Developer</span></h3>
      <p>
        From a recent public health undergraduate to an eager software
        developer, I have experience in Front-End Development. I always look for
        challenges to refine my skills in software development, coming up with
        creative solutions and innovative applications. As a reliable team
        player, I have a strong foundation in communication skills to adhere to
        client’s need and promote business growth. With a passion to enrich and
        promote efficiency to peoples' lives, I am looking forward to
        opportunities that gives me a platform to innovate responsive websites,
        mobile apps, and internal frameworks.
      </p>
      <h4>
        <span class="button">Phone Number</span> 248-202-9680<br /><br />
        <span class="button">LinkedIn</span>
        linkedin.com/in/roniya-rojan<br /><br /><span class="button"
          >GitHub</span
        >github.com/ronithrojan
      </h4>
    </div>
  </section>
  <section>
    <div class="container01">
      <aside class="baller03"></aside>
    </div>
    <div class="background">
      <h3 class="gmoney">
        Grant Flennoy <br /><span>Front-End Developer</span>
      </h3>
      <p>
        Front-End Software Developer with a background in Psychology & Sales.
        Problem solver in and out of the office. I'm purposely passionate about
        the projects I choose to involve myself with, so that my presentations
        are logical and maximize benefit.
      </p>
      <h4>
        <span class="button">Phone Number</span> 248-207-2281<br /><br />
        <span class="button">LinkedIn</span>
        linkedin.com/in/flennoy-grant/<br /><br /><span class="button"
          >GitHub</span
        >github.com/GFlennoy
      </h4>
    </div>
  </section>
</main>
