h3 {
  color: white;
  margin: 5px;
}

div {
  word-wrap: break-word;
  margin: 10px;
}
main {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.baller-container {
  display: flex;
  flex-direction: column;
}

p {
  color: #fff;
  padding: 10px;
}

.background {
  background-image: linear-gradient(to bottom right, blue, lightblue);
  border-radius: 10px;
  width: 300px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 1px solid white;
}

aside {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.baller01 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/IMG-4672.jpg");
  height: 200px;
  width: 200px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

.container01 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.baller02 {
  background-image: url("../../assets/IMG_5868.jpg");
  height: 200px;
  width: 200px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

.baller03 {
  background-image: url("../../assets/IMG_1471.jpeg");
  height: 200px;
  width: 200px;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

span {
  font-size: 12px;
  border: none;
  padding: 0px;
}

h3 {
  padding: 2px;
}

.button {
  background-color: azure;
  color: blue;
  padding: 5px;
  margin: 10px;
  margin: 10px 10px 10px 0;
  display: block;
  border-radius: 3px;
}

.contact {
  color: blue;
}

@media only screen and (min-width: 768px) {
  .baller-container {
    flex-direction: row;
  }

  .background {
    height: 100%;
  }
}
