/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 3px;
}

label {
  color: white;
}

.input {
  color: black;
}

/* .form {
  display: flex;
  flex-direction: column;
  padding: 12px;
} */

/* span {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
} */
